body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #000000}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #CCFFCC}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline; color: #FF0000}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #000000; background-repeat: no-repeat; background-position: top}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #000000}
