td {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #FAFFD7 }
a {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #Ffff00; text-decoration: none}
a:hover {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #000000; text-decoration: underline}