body {  font-family: "ו"; font-size: 10.5pt; color: #000000; line-height: 14pt}
a {  font-family: "ו"; font-size: 10.5pt; line-height: 14pt; text-decoration: none}
td {  font-family: "ו"; font-size: 10.5pt; line-height: 14pt; color: #000000}
