/* * Style sheet for the HTML 4.0 specification
 * $Id: epcw.css,v 1.20 1999/3/2 18:46:53 wanqianshan@126.com $*/
BODY  {
	font-size : 9pt;
	font-weight : normal;
	line-height: 14px;
	font-style : normal;
	color : #000000;
	text-decoration : none;
}

P  {
	font-size : 9pt;
	line-height: 15px;
	font-weight : normal;
	font-style : normal;
	color : #000000;
}

A  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	color : #0066CC;
	text-decoration : none;
}

A:Visited  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	color : #0066CC;
	text-decoration : none;
}

A:Active  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	color : #FF0000;
	text-decoration : none;
}

A:Hover  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	color : #0066CC;
	text-decoration : underline;
}

EM  {
	font-size : 9pt;
	color : #808080;
	font-weight : normal;
	font-style : normal;
	text-transform : none;
}

I  {
	font-family: Arial;
        font-size : 9pt
	color : #000080;
	font-weight : bold;
	font-style : italic;
}

BIG  {
	font : 17pt Times New Roman;
	color : #000000;
	font-weight : bold;
}

TD  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
}

.title  {
        font-size: 11pt;
	line-height: 16px;
	font-weight : normal;
}