body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #77396C}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #800000}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #525252}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #000000}
