td,p,li {font-family:ו,arial;font-size:12px;}
.c {font-family:ו,arial;font-size:12px;line-height:170%;color:#ffffff}
.a {font-family:ו,arial;font-size:16px;}
td.b {line-height:140%}
A:link {text-decoration: underline; color: #0000ff}
A:visited {text-decoration: underline; color: #800080}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: #ff0000}

.d{color:#ffffff;}
.e{color:#ffffff;font-weight:bold;}
.f{color:#eec7c7}
A.sy1:link { font-size:12px;color:#ffffff; text-decoration:none;}
A.sy1:visited { font-size:12px;color:#ffffff; text-decoration:none;}
A.sy1:active { font-size:12px;color:#ffffff; text-decoration:none;}
A.sy1:hover { font-size:12px;color:#ffffff; text-decoration:none;}

A.sy2:link { font-size:12px;color:#ffffff; text-decoration:none;}
A.sy2:visited { font-size:12px;color:#ffffff; text-decoration:none;}
A.sy2:active { font-size:12px;color:#ffffff; text-decoration:underline;}
A.sy2:hover { font-size:12px;color:#ffffff; text-decoration:underline;}

