/* Style sheet optimized for IE4x  */

body
		{ font-size: 70%;    		
		font-family: Verdana, Arial, Helvetica, MS Sans Serif  
		width: 95% }

h1
		{ font-size: 145%; 
		margin-bottom: .5em;
		color: black }

h2
		{ font-size: 125%;  
		margin-top: 1.5em;
		margin-bottom: .5em;
		color: black }

h3
		{ font-size: 110%; 
		margin-top: 1.2em;  
		margin-bottom: .5em; 
		color: black }

/* h4 */

/* h5 */

p
		{ margin-top: .6em; 
		margin-bottom: .6em; }
			
ol
		{margin-top: .5em; 
		margin-bottom: 0em; 
		margin-left: 4em}	
	
ul
		{margin-top: .6em; 	
		margin-bottom: 0em }	

ul p
		{ margin-bottom: 0em }

ol p
		{ margin-bottom: 0em }

ol ul
		{ list-style: disc; 
		margin-top: 1em;  }

li
		{padding-bottom: .7em;
		margin-left: -2em;  }

pre
		{ margin-top: 0em;
		margin-bottom: .6em; 
		font-family: Courier New; 
		font-size: 125%}

table
		{ font-size: 100%;
		margin-top: 1em; 
		margin-bottom: 1em;}
		
th
		{ text-align: left;
		background: #dddddd;
		margin: 3pt;
		vertical-align: bottom;	}
		
tr
		{ vertical-align: top; }

td
		{ margin: 3pt;
		background: #EEEEEE;
		vertical-align: top; }
		
td.multi	
		{ background: #FFFFFF: }

blockquote
		{ text-align: left;}

div		
		{ margin-left: 3 pt; 
		margin-right: 3 pt;
		border: 1 solid black;
		width: 95%}

.tip	
		{ background: aliceblue;
		padding-top: 10 pt; 
		padding-bottom: 10 pt; }
		

.note	
		{ background: white;
		padding-top: 10 pt; 
		padding-bottom: 10 pt; }
		

.seealso	
		{ background: #EEEEEE;
		padding-top: 10 pt; 
		padding-bottom: 10 pt; }
		

.caution	
		{ background: Papayawhip;
		padding-top: 10 pt; 
		padding-bottom: 10 pt; } 

.warning	
		{ background: Papayawhip;
		padding-top: 10 pt; 
		padding-bottom: 10 pt; }

.sidebar
		{ background: white;
		padding-top: 0 pt; 
		padding-bottom: 0 pt;
		color: black  }	

