.p6 {
	FONT-SIZE: 6px; LINE-HEIGHT: 130%
}
.p12 {
	FONT-SIZE: 12px
}
.p12h {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.p14 {
	FONT-SIZE: 14px
}
.p16 {
	FONT-SIZE: 16px
}
.p24 {
	FONT-SIZE: 24px
}
.p14h {
	FONT-SIZE: 14px; LINE-HEIGHT: 130%
}
.b14 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.b12 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
TD {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
OPTION {
	FONT-SIZE: 12px
}
A:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
A:active {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
A:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
A:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
A.a1:link {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.a1:active {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.a2:link {
	COLOR: #0000ff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #0000ff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.a2:active {
	COLOR: #0000ff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
A.a2:hover {
	COLOR: #0000ff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
A.a3:link {
	FONT-SIZE: 14px
}
A.a3:active {
	FONT-SIZE: 14px
}
A.a3:hover {
	FONT-SIZE: 14px
}
A.a3:visited {
	FONT-SIZE: 14px
}
A.nav1:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.nav1:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.nav1:hover {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.nav1:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD.bottom {
	FONT-SIZE: 12px
}
A.bottom:link {
	FONT-SIZE: 12px
}
A.bottom:active {
	FONT-SIZE: 12px
}
A.bottom:hover {
	FONT-SIZE: 12px
}
A.bottom:visited {
	FONT-SIZE: 12px
}
