a { font: 14px/normal "宋体"; color: #000000; text-decoration: none} 
td { font: 14px/40px "宋体"; color: #000000; text-align: center; background: #DAD1B8}
a:hover { font: 14px "宋体"; color: #FF0000; text-decoration: none; background: #E9DEC7}
body {  font: 14px/normal "宋体"; color: #000000; background: #DAD1B8;scrollbar-face-color:#d6c185;scrollbar-3dlight-color:#000000;scrollbar-darkshadow-color:#dac9a3;scrollbar-track-color:#e9dec7;scrollbar-arrow-color:000000;scrollbar-shadow-color:000000;}
span {  font: 14px "宋体"; color: #000000}
div {  font: 14px "宋体"; color: #000000}
form {  font: 14px "宋体"; color: #000000; background: dac9a3; vertical-align: top; border-width: 0px 0px thin}
select {  font: 14px "宋体"; color: #000000; background: dac9a3}
input {  color: #000000; font: 14px "宋体"; background: dac9a3}
table {  margin: 0px 0px; font: 14px "宋体"; color: #000000}
textarea {  font: 14px "宋体"; color: #000000; background: dac9a3}
iframe {  font: 14px "宋体"; color: #000000}