BODY
	{ BACKGROUND: #ffffff;
    	COLOR: black;
    	FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 70% }

H1
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 145%;
    	TEXT-DECORATION: none }

H2
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 125%;
    	TEXT-DECORATION: none }

H3
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 110%;
    	TEXT-DECORATION: none }

P
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 11px }

UL
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 11px;
    	LIST-STYLE: square }

OL
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 11px }

PRE
	{ FONT-FAMILY: Courier New;
    	FONT-SIZE: 125%;
    	MARGIN-BOTTOM: 0.1em;
    	MARGIN-TOP: 0.1em }

CODE
	{ FONT-FAMILY: Courier New;
    	FONT-SIZE: 125% }

TABLE
	{ FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 100%;
    	MARGIN-BOTTOM: 0em;
    	MARGIN-TOP: 0em }

TH
	{ BACKGROUND: #dddddd;
    	COLOR: black }

TR
	{ COLOR: black }

TD
	{ BACKGROUND: #eeeeee;
    	COLOR: black }

DIV
	{ BORDER-BOTTOM: solid 0.1em;
    	BORDER-LEFT: solid 0.1em;
    	BORDER-RIGHT: solid 0.1em;
    	BORDER-TOP: solid 0.1em;
    	FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    	FONT-SIZE: 11px;
    	MARGIN: 1em;
    	PADDING-BOTTOM: 1em;
    	PADDING-LEFT: 1em;
    	PADDING-RIGHT: 1em;
    	PADDING-TOP: 1em }

.tip
	{ BACKGROUND: #f0f8ff;
    	COLOR: black }

.note
	{ BACKGROUND: #ffffff;
    	COLOR: black }

.seealso
	{ BACKGROUND: #eeeeee;
    	COLOR: black }

.caution
	{ BACKGROUND: #ffefd5;
    	COLOR: black }

.warning
	{ BACKGROUND: #ffefd5;
    	COLOR: black }

.sidebar
	{ BACKGROUND: #ffffff;
    	COLOR: black }
