body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #444444}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #9B0000}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #393939; background-repeat: no-repeat; background-position: right bottom}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #000000}
