BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #b6e2af
}
TABLE {
	FONT-SIZE: 12pt; LINE-HEIGHT: 17pt
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: green
}
TABLE.bar {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffc863
}
TABLE.bar TD {
	WIDTH: 12%; TEXT-ALIGN: center
}
TABLE.bar A {
	BORDER-RIGHT: #000000 1px solid; WIDTH: 100%; HEIGHT: 100%; BACKGROUND-COLOR: #ffc863
}
TABLE.bar A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TABLE.bar A.active {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TABLE.foot {
	WIDTH: 500px
}
TABLE.foot A {
	BORDER-TOP: #000000 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px; HEIGHT: 12px
}
TABLE.foot A:hover {
	BORDER-TOP-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
DIV.sep {
	HEIGHT: 5px
}
