body {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:18pt; color: #FFFFFF}
a {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:18pt; text-decoration: none; color: #0000FF}
a:hover {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:18pt; color: #FF6600; text-decoration: underline}
td {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:18pt;  color: #000000}
.h {font-family: "Times New Roman", "Times", "serif"; font-size: large; line-height:22pt; font-weight: bold; color: #000000}
