        A:link {text-decoration: none; color:#000099; font-family: 宋体; font-size:14.8px; }
        A:visited {text-decoration: none; color: #800080;font-family: 宋体; font-size:14.8px; }
        A:active {text-decoration: none;font-family: 宋体; font-size:14.8px; }
       	A:hover {color: #FFFFFF;background:#6699CC;text-decoration: underline}
        A:hover {text-decoration:underline;font-family: 宋体; font-size:14.8px;}
body{font-family: 宋体; font-size:14.8px}
TD{ FONT-SIZE: 14.8px}
LI{ FONT-SIZE: 14.8px}
UL{ FONT-SIZE: 14.8px}
PRE{font-family: 宋体; FONT-SIZE: 14.8px}
INPUT{ FONT-SIZE: 14.8px}
.s{ FONT-SIZE: 9pt}
.ss{ FONT-SIZE: 5pt}
.b{ FONT-SIZE: 14.8px}
