BODY
{
    BEHAVIOR: url(valid.htc);
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 70%
}
H1
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 145%
}
H2
{
    FONT-SIZE: 125%
}
H3
{
    FONT-SIZE: 110%
}
TABLE
{
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0em;
    MARGIN-TOP: 0em;
    TEXT-DECORATION: none;
    WIDTH: 95%
}
TH
{
    BACKGROUND: #dddddd;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
TD
{
    BACKGROUND: #eeeeee;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
UL
{
    LIST-STYLE-TYPE: disc;
    PADDING-TOP: 5px
}
.note
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.seealso
{
    BACKGROUND: #eeeeee;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.caution
{
    BACKGROUND: #ffefd5;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.warning
{
    BACKGROUND: #ffefd5;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.sidebar
{
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.code
{
    BACKGROUND-COLOR: #eeeeee;
    FONT-FAMILY: "Courier New";
    FONT-SIZE: 125%;
    MARGIN: 1em;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px;
    WIDTH: 95%
}
.prevnext
{
    FONT-FAMILY: Webdings;
    FONT-SIZE: 175%;
    LETTER-SPACING: 0px;
    LINE-HEIGHT: 0px;
    TEXT-ALIGN: right
}
.chapternumber
{
    FONT-SIZE: 300%
}
.prevnext A:link
{
    TEXT-DECORATION: none
}
.prevnext A:visited
{
    TEXT-DECORATION: none
}
LI
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
.caption
{
    PADDING-TOP: 5px
}
.figure
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 10px
}
.figure IMG
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.cover
{
    TEXT-ALIGN: center;
    COLOR: gray;
    FONT-SIZE: smaller
}
.cover IMG
{
    BORDER-BOTTOM: black 0.1em solid;
    BORDER-LEFT: black 0.1em solid;
    BORDER-RIGHT: black 0.1em solid;
    BORDER-TOP: black 0.1em solid;
    TEXT-ALIGN: center
}
.tip
{
    BACKGROUND-COLOR: #f0f8ff;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em
}
.inlist
{
}
