a {font-size:12px;}
a.foot {font-size:12px;  color:#003366; height:12px; border-top:1px solid #996633; border-bottom:1px solid #996633;
}
a.foot:hover {background-color:#003366;color:#ffffff;
	
}

DIV#divMenuBar
 { position : absolute; top : 97px; left : 0%; height : 17px; }

TABLE#tblMenuBar span
 { cursor : hand; color : #ffffff; width : 117px; height : 20px; background-color : #FFFFFF; text-align : center; padding-top : 3px;border-top : 1px solid #81ff1f; border-bottom : 1px solid #81ff1f;
    background-color:#ff903f}

DIV.clsMenu
 { position : absolute; visibility : hidden; width : 154px; background-color : #FFFFFF;  
   border : 1px solid #000000; }

DIV.clsMenu a
 { cursor : hand; color : #000000; width :152px; height : 16px; padding : 2px 2px 0px 6px; letter-spacing : 1px; }

DIV.clsMenu a:hover
 { background-color : #FF7D00; color:#FFFFFF;}