/* Cascading Style Sheet for IE4 build 1008+ */

body		{ font-size: 95%; 
			
			font-family: ²Ó©úÅé,  }
h1 	{line-height: 150%}
h2 	{line-height: 100%}
/* h3 	{line-height: 150%} */

a:link		{ color: #0000FF; } 
a:active		{ color: #FF33CC; }
a:visited 	{  color: #800080; }

i.old	{ margin-top:6pt; margin-bottom: 6pt; color:blue} 

P.juan {color:green; font-weight:bold}

span.byline	{ margin-left: 70%;  margin-top:6pt; margin-bottom: 6pt; color:#000080} 
span.l	{ padding 2em 4em 5em margin-top:12pt; margin-top:6pt; margin-bottom: 6pt;} 
span.corr {color : red}
span.old	{ margin-top:6pt; margin-bottom: 6pt; color:blue} 

h2.juan {color : green}
