#iewrap{
position:relative;
height:10px;width:60px;
}

#iewrap2{
position:absolute
}

#dropmenu03{
filter:revealTrans(Duration=1.5,Transition=12)
visibility:hide
}
.ourfont {font-size: 9pt ; line-height:11pt;}
.ourfont1 {font-size: 11.5pt ; line-height:13pt; }
.ourfont2 {font-size: 9pt ; line-height:11pt;}
.ourfont3 {font-size: 10.5pt ; line-height:15pt;}
.p4{font-size:14.8px;font-family:ו;line-height:14pt;}
A{font-size: 9pt ;text-transform: none;text-decoration:none;}
a:hover {font-size: 9pt ;color: #FF0000;text-decoration:underline;}
.sys{color: #ffffff;}
a:link.line{font-size: 9pt ;text-decoration:none;}
A.msn{color: #003399;font:9pt;}
A.bigmsn{color: #003399;font:10.5pt;}
A:hover.msn{color: #000000;background-color: #CEDAE3;}
A:hover.sys{color: #FF9933;}
.NV1	{cursor:hand;}
.3dfont{font-size: 9pt ;letter-spacing:4pt; color:3333ff;filter:glow(color=ffffff,strength=0) shadow(color=aaaaaa,direction:115);position:relative;width=60%;}
.3dfont1{font-size: 9pt ;letter-spacing:2pt;line-height:13pt; color:3333ff;filter:glow(color=ffffff,strength=0);position:relative;width=60%;}
body {font-size: 9pt; text=#000000; bgcolor="#ffffff" link="#0000FF" vlink="#0000FF"}
td {  font-size: 9pt}
