td,p {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #d7f1ff }
a {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #3efdb6; text-decoration: none}
a:hover {  font-family: "ו"; font-size: 10.5pt; line-height: 16pt; color: #000000; text-decoration: underline}
body {background-color:#3185B3}