body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #FFFFFF}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #417909}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline; color: #CC3300}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #000000; ; background-repeat: repeat-y; background-position: left top; background-attachment: scroll}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #000000}
