a { font: 16px "宋体"; color: #000000; text-decoration: none} td { font: 
16px "宋体"; color: #000000; text-align: center; background: #DAD1B8} a:hover 
{ font: 16px "宋体"; color: #FF0000; text-decoration: none; background: #E9DEC7} 
body { font: 16px/normal "宋体"; color: #000000; background: #DAD1B8;scrollbar-face-color:#cccc99;scrollbar-3dlight-color:#000000;scrollbar-darkshadow-color:#cccc99;scrollbar-track-color:#DAD1B8;scrollbar-arrow-color:000000;scrollbar-shadow-color:000000;} 
span { font: 16px "宋体"; color: #000000} div { font: 16px "宋体"; color: #000000} 
form { font: 16px "宋体"; color: #000000; background: dac9a3; vertical-align: top; 
border-width: 0px 0px thin} select { font: 16px "宋体"; color: #000000; background: 
dac9a3} input { color: #000000; font: 16px "宋体"; background: dac9a3} table { margin: 
0px 0px; font: 16px "宋体"; color: #000000} textarea { font: 16px "宋体"; color: #000000; 
background: dac9a3} iframe { font: 16px "宋体"; color: #000000}pre {  font: 16px/25px "宋体"; color: #000000}
