BODY {
	FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 20pt; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-WEIGHT: normal
}
A {
	COLOR: #000000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 14pt; TEXT-DECORATION: none
}
A:visited {
	FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066cc; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.A1 {
	COLOR: #0033FF; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.A1:visited {
	FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.A1:active {
	COLOR: #990000; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.A1:hover {
	COLOR: #0066cc; FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-TRANSFORM: none
}
I {
	FONT-FAMILY: "Arial"; FONT-SIZE: 14px; FONT-STYLE: italic; FONT-WEIGHT: bold
}
BIG {
	FONT: bold 15pt "Times New Roman"
}
B {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.BHEAD {
	FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 15pt
}
STRONG {
	FONT-FAMILY: "Arial"; FONT-SIZE: 13pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nava {
	FONT-SIZE: 12px
}
.wj {
	COLOR: #ffffff; FONT-SIZE: 9pt; LINE-HEIGHT: 13pt; TEXT-DECORATION: none
}
