BODY {
	MARGIN: 0pt
}
.keywordtree {
	BACKGROUND-COLOR: silver; COLOR: darkblue; LINE-HEIGHT: 20pt; PADDING-LEFT: 10pt
}
.PageName {
	COLOR: #1a2272; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 14pt
}
.SubHeadlinesNU {
	COLOR: #1a2272; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
.SmallArial {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica; FONT-SIZE: 8.5pt; LINE-HEIGHT: 12pt
}
P {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
BLOCKQUOTE {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
LI {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
.SubHeadlines {
	COLOR: #1a2272; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 11pt; TEXT-DECORATION: underline
}
.keywordpath {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.SmallWhite {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.Normal {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; LINE-HEIGHT: 13pt; TEXT-DECORATION: none
}
.Small {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8.5pt
}
.Smallred {
	COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8.5pt
}
.SuperSmallBlue {
	COLOR: #1a2272; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 7.5pt; LINE-HEIGHT: 10pt
}
.SuperSmallWhite {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 7.5pt; LINE-HEIGHT: 10pt
}
.SuperSmallllinebreak {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 6pt; LINE-HEIGHT: 8pt
}
.Center {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; TEXT-ALIGN: center
}
A:hover {
	TEXT-DECORATION: underline
}
.blue {
	COLOR: #1a2272; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
.white {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
.whitenu {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.nu {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MainLinks {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt; LINE-HEIGHT: 13pt; TEXT-DECORATION: none
}
.MainLinksDark {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt; LINE-HEIGHT: 13pt; TEXT-DECORATION: none
}
.SubLinks {
	COLOR: white; FLOAT: none; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 8pt; LEFT: 10px; LINE-HEIGHT: 11pt; POSITION: relative; TEXT-DECORATION: none
}
.InputName {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt
}
