
<p>a { font: 24px "宋体"; color: #999900; text-decoration: none; background: #333333}td 
  { font: 24px/35px "宋体"; color: #999900; text-align: center; border: #d6c185 
  none; background: #333333}a:hover { font: 24px "宋体"; color: #99CC33; text-decoration: 
  none; background: #666666}body { font: 24px "宋体"; color: #999900; background: 
  #333333 no-repeat fixed right top;scrollbar-face-color:#333333;scrollbar-3dlight-color:#000000;scrollbar-darkshadow-color:#666666;scrollbar-track-color:#666666;scrollbar-arrow-color:000000;scrollbar-shadow-color:000000;} 
</p>
a { font: 24px "宋体"; color: #999900; background: #333333} a { font: 24px "宋体"; 
color: #999900; background: #333333; text-decoration: none} 