body {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:22pt; color: #000000}
a {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:22pt; text-decoration: none; color: #0000FF}
a:hover {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:22pt; color: #0000FF; text-decoration: underline}
td {font-family: "Times New Roman", "Times", "serif"; font-size: medium; line-height:22pt;  color: #000000}
.h {font-family: "Times New Roman", "Times", "serif"; font-size: large; line-height:24pt; font-weight: bold; color: #000000}
