body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #F1DEE7}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #FFFFCC}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #F1DEE7}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #F1DEE7}
