body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #FFFFFF}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #FFCC66}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #FFFFFF; ; background-repeat: no-repeat; background-position: left top}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #FFFFFF}
