BODY
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 70%
}
H1
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 145%;
    TEXT-DECORATION: none
}
H2
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 125%;
    TEXT-DECORATION: none
}
H3
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 110%;
    TEXT-DECORATION: none
}
P
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif"
}
UL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    LIST-STYLE: square
}
OL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif"
}
PRE
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 125%;
    MARGIN-BOTTOM: 0.1em;
    MARGIN-TOP: 0.1em
}
CODE
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 125%
}
TABLE
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0em;
    MARGIN-TOP: 0em;
    TEXT-DECORATION: none;
    WIDTH: 95%
}
TH
{
    BACKGROUND: #dddddd;
    COLOR: black;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
TR
{
    COLOR: black
}
TD
{
    BACKGROUND: #eeeeee;
    COLOR: black;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
DIV
{
    BORDER-BOTTOM: 0.1em solid;
    BORDER-LEFT: 0.1em solid;
    BORDER-RIGHT: 0.1em solid;
    BORDER-TOP: 0.1em solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em;
    WIDTH: 95%
}
.tip
{
    BACKGROUND: #f0f8ff;
    COLOR: black
}
.note
{
    BACKGROUND: #ffffff;
    COLOR: black
}
.seealso
{
    BACKGROUND: #eeeeee;
    COLOR: black
}
.caution
{
    BACKGROUND: #ffefd5;
    COLOR: black
}
.warning
{
    BACKGROUND: #ffefd5;
    COLOR: black
}
.sidebar
{
    BACKGROUND: #ffffff;
    COLOR: black
}
.columns
{
    BACKGROUND-COLOR: white;
    COLOR: black
}
.LOC
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 100%
}
