body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #F6F6F6}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #CCFFCC}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline; color: #FF0000}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #F6F6F6}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #F6F6F6}
