ÑÕÉ« l_green#cde9cc:unknown d_green#1b4176:unknown d_blue_title#50a451:unknown d_blue_index#daeef9:unknown l_blue#306b8f:unknown orange#ffa647:unknown l_yellow#fffedb:unknown d_red:unknown l_pink#f0e8fa--:unknown A.indexB {
	COLOR: #fcf3e0; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.indexB:link {
	COLOR: #fcf3e0; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.indexB:active {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
A.indexB:visited {
	COLOR: #fcf3e0; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.indexB:hover {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
TD.indexC1 {
	BACKGROUND-COLOR: navy; COLOR: #fcf3e0; FONT-SIZE: 10pt
}
TD.indexC11 {
	COLOR: #fcf3e0; FONT-SIZE: 10pt
}
TD.indexC2 {
	BACKGROUND-COLOR: #cbf5fe; COLOR: navy; FONT-SIZE: 10pt
}
TD.tdtitle {
	BACKGROUND-COLOR: #aaddff; BORDER-BOTTOM: 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: 0px; COLOR: navy; FONT-SIZE: 10.5pt
}
TD.tdtitle1 {
	BORDER-BOTTOM: 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: 0px; COLOR: navy; FONT-SIZE: 10.5pt
}
A {
	COLOR: #306b8f; TEXT-DECORATION: none
}
A:link {
	COLOR: #306b8f; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
A:active {
	COLOR: red; TEXT-DECORATION: underline
}
BODY {
	BACKGROUND-COLOR: #ffffff; FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
.fontcolor {
	
}
IMG {
	BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.right {
	FLOAT: right
}
.left {
	FLOAT: left
}
TABLE {
	BACKGROUND-POSITION: center 50%; BORDER-BOTTOM: 0pt; BORDER-LEFT: 0pt; BORDER-RIGHT: 0pt; BORDER-TOP: 0pt; FONT-SIZE: 9pt
}
.560 {
	WIDTH: 560px
}
.finance {
	BACKGROUND-COLOR: #23307d; COLOR: #e6eef9; FONT-SIZE: 9pt
}
.search {
	BACKGROUND-COLOR: #daeef9; HEIGHT: 20px; TEXT-ALIGN: center; WIDTH: 560px
}
.title {
	TEXT-ALIGN: center; WIDTH: 100px
}
.bgcolorlg {
	BACKGROUND-COLOR: #cde9cc; HEIGHT: 20px
}
.bgcolorlb {
	BACKGROUND-COLOR: #daeef9; HEIGHT: 20px
}
.bgcolorly {
	BACKGROUND-COLOR: #fffedb; HEIGHT: 100px
}
.blank20 {
	BACKGROUND-COLOR: #ffffff; HEIGHT: 20px
}
.blank20ly {
	BACKGROUND-COLOR: #fffedb; HEIGHT: 20px
}
.blank10 {
	BACKGROUND-COLOR: #ffffff; HEIGHT: 10px
}
.lineor {
	BACKGROUND-COLOR: #ffa647; HEIGHT: 2px
}
.linedb {
	BACKGROUND-COLOR: #1b4176; HEIGHT: 2px
}
.newstitle {
	COLOR: #50a451; FONT-WEIGHT: bold
}
.newsinfo {
	COLOR: #50a451; FONT-WEIGHT: bold
}
.mainnews {
	BACKGROUND-COLOR: #ffffff; HEIGHT: 100px
}
.redfont {
	COLOR: red; FONT-WEIGHT: bold
}
