BODY
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 70%
}
H1
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 145%;
    TEXT-DECORATION: none
}
H2
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 125%;
    TEXT-DECORATION: none
}
H3
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 110%;
    TEXT-DECORATION: none
}
P
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif"
}
UL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    LIST-STYLE: square
}
OL
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif"
}
PRE
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 125%;
    MARGIN-BOTTOM: 0.1em;
    MARGIN-TOP: 0.1em
}
CODE
{
    FONT-FAMILY: Courier New;
    FONT-SIZE: 125%
}
TABLE
{
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0em;
    MARGIN-TOP: 0em;
    TEXT-DECORATION: none;
}
TH
{
    BACKGROUND: #dddddd;
    COLOR: black;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
TR
{
    COLOR: black
}
TD
{
    BACKGROUND: #eeeeee;
    COLOR: black;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
DIV
{
    BORDER-BOTTOM: 0.1em solid;
    BORDER-LEFT: 0.1em solid;
    BORDER-RIGHT: 0.1em solid;
    BORDER-TOP: 0.1em solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, "Sans Serif";
    MARGIN: 1em;
    PADDING-BOTTOM: 1em;
    PADDING-LEFT: 1em;
    PADDING-RIGHT: 1em;
    PADDING-TOP: 1em;
    WIDTH: 95%
}
.tip
{
    BACKGROUND: #f0f8ff;
    COLOR: black
}
.note
{
    BACKGROUND: #ffffff;
    COLOR: black
}
.seealso
{
    BACKGROUND: #eeeeee;
    COLOR: black
}
.caution
{
    BACKGROUND: #ffefd5;
    COLOR: black
}
.warning
{
    BACKGROUND: #ffefd5;
    COLOR: black
}
.sidebar
{
    BACKGROUND: #ffffff;
    COLOR: black
}
.columns
{
    BACKGROUND-COLOR: white;
    COLOR: black
}
.unit01
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN: 0em;
    PADDING-BOTTOM: 0em;
    PADDING-LEFT: 0em;
    PADDING-RIGHT: 0em;
    PADDING-TOP: 0em;
    POSITION: absolute;
    RIGHT: 40px;
    TOP: 5px
}
.unit02
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN: 0em;
    PADDING-BOTTOM: 0em;
    PADDING-LEFT: 0em;
    PADDING-RIGHT: 0em;
    PADDING-TOP: 0em;
    POSITION: absolute;
    RIGHT: 6px;
    TOP: 5px
}
.headerrule
{
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 30%
}
.prolink
{
    BACKGROUND-COLOR: transparent;
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    BORDER-BOTTOM: 0.1em solid;
    BORDER-LEFT: 0.1em solid;
    BORDER-RIGHT: 0.1em solid;
    BORDER-TOP: 0.1em solid;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    MARGIN: 2px;
    PADDING-BOTTOM: 0.5em;
    PADDING-LEFT: 0.5em;
    PADDING-RIGHT: 0.5em;
    PADDING-TOP: 0.5em
}
.LOC
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 100%
}
