
A:hover {
	BACKGROUND-COLOR: #D1E8BB; COLOR: #000000; TEXT-DECORATION: underline
} 
BODY  {
	font-size : 9pt;
	font-weight : normal;
	line-height: 15px;
	font-style : normal;
	color : black;
	text-decoration : none;
}

P  {
	font-size : 9pt;
	line-height: 15px;
	font-weight : normal;
	font-style : normal;
	color : black;
}

BR  {
	font-size : 9pt;
	line-height: 15px;
	font-weight : normal;
	font-style : normal;
	color : black;
}

DIV  {
	font-size : 9pt;
	line-height: 15px;
	font-weight : normal;
	font-style : normal;
}

A  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	color : #0066CC;
	text-decoration : none;
}

EM  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
	text-transform : none;
}

B  {
	font-size : 9pt;
	text-decoration : none;
	font-weight : bold;
}

TD  {
	font-size : 9pt;
	font-weight : normal;
	font-style : normal;
}


}h1 {  font-size: 48pt; font-family: "ºÚÌå"}
