body {font-family: "宋体"; font-size: medium; line-height:22pt; color: #996600}
a {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: none; color: #CC3300}
a:hover {font-family: "宋体"; font-size: medium; line-height:22pt; text-decoration: underline; color: #000099}
td {font-family: "宋体"; font-size: medium; line-height:22pt;  color: #996600; background-repeat: no-repeat; background-position: right top}
.h {font-family: "宋体"; font-size: large; line-height:24pt; font-weight: bold; color: #996600}
