a:link
{
	color: rgb(0,153,0); 
}
a:visited
{
	color: rgb(204,153,0); 
} 
a:active 
{
	color: rgb(255,255,0);
}
body
{
	font-family: ו, Bookman Old Style, Times New Roman, Times;
	background-color: rgb(0,0,0);
	color: rgb(128,0,128);
	topmargin: 0; leftmargin: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-family: ו, Bookman Old Style, Times New Roman, Times;
}
h1
{
	color: rgb(128,128,0);
}
h2
{
	color: rgb(0,51,102); 
}
p
{
	margin-top: 0; 
	margin-bottom: 0
}
